
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layoutks.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>:: Ankapur Chicken Menu ::</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/ksfolder/css/bootstrap.min.css" rel="stylesheet" />
    <!-- semantic -->
    <link href="~/ksfolder/css/semantic.css" rel="stylesheet" />
    <link href="~/ksfolder/css/semantic.min.css" rel="stylesheet" />
    <!-- font-awesome -->
    <link href="~/ksfolder/css/font-awesome.min.css" rel="stylesheet" />
    <!-- line icons -->
    <link href="~/ksfolder/css/linearicons.css" rel="stylesheet" />
    <!-- simple-line-icons-->
    <link href="~/ksfolder/css/simple-line-icons.css" rel="stylesheet" />
    <!-- owl-carousel -->
    <link href="~/ksfolder/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/ksfolder/css/owl.theme.css" rel="stylesheet" />
    <!-- Magnific Popup -->
    <link href="~/ksfolder/css/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <!-- shortcodes -->
    <link href="~/ksfolder/css/shortcodes.css" rel="stylesheet" />
    <!-- base -->
    <link href="~/ksfolder/css/base.css" rel="stylesheet" />
    <!-- Bootsnav -->
    <link href="~/ksfolder/css/bootsnav.css" rel="stylesheet" />
    <!-- Responsive -->
    <link href="~/ksfolder/css/responsive.css" rel="stylesheet" />
    
    


    <!-- Custom Theme Style -->

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/modal.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/modal.min.css" />
    <style>
        .row {
    margin-right: -7px;
    margin-left: -7px;
}

   .container-fluid {
    padding-right: 113px;
    padding-left: 13px;
    margin-right: auto;
    margin-left: auto;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 48px;
    margin-bottom: 30px;
    color: #fff;
    background-color: #3a0505;
    font-size:1px;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 200px;
}

.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 10px;
    padding-left: 15px;
    border-radius: 6px;
    border-top-left-radius: 35px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

        .btn {
   
    border: 8px 8px;
    color: #ff1515;
    padding: 12px 16px;
    
    cursor: pointer;
}
    </style>
</head>
<body>
    @*<!-- Preloader -->
    <div id="preloader">
        <div class="clear-loading loading-effect"><img src="~/ksfolder/images/loading.gif" width="100" alt=""></div>
    </div>
    <!-- Start Navigation -->
    <nav class="navbar navbar-default navbar-sticky bootsnav">
        <!-- Start Top Search -->
        <div class="top-search">
            <div class="container">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>
        <!-- End Top Search -->
        <div class="container">
            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="search"><a href="#"><i class="icon-magnifier icons"></i></a></li>
                    <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="fa fa-bars"></i> </button>
                <a class="navbar-brand" href="index-default.html"><img src="~/ksfolder/images/logo-black.png" class="logo logo-scrolled" alt=""> </a>
            </div>
            <!-- End Header Navigation -->
            <!-- Megamenu -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="active dropdown">
                        <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Home</a>

                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Login/Signup</a>

            </div>
            <!-- /.navbar-collapse -->
        </div>*@
            <!-- Start Side Menu -->
    
    <!-- End Navigation -->
    <!-- Our service -->
    <section data-bg-img="/ksfolder/images/bg2.png">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="heading-block ">
                        <span class="text-uppercase"></span>
                        <h2 class="text-uppercase">“EAT THE BEST & LIVE THE FITTEST”</h2>
                        <div class="divider"></div>
                    </div>
                    <i class="fa fa-angle-down" style="font-size:48px;color:red"></i>
                    <h2 class="text-uppercase">MAIN MENU</h2>

                    <nav class="navbar navbar-default">
                        <div class="container-fluid">

                            <ul class="nav navbar-nav">
                                <li><a href="#">MAIN MENU</a></li>
                                <li><a href="#">DAY SPECIALS</a></li>
                                <li><a href="#">COMBOS</a></li>
                                <li><a href="#">HUNGRY BOWL</a></li>
                            </ul>
                        </div>
                    </nav>

                    <a class="btn btn-default btn-primary dark-border white-text btn-radius btn-xs fill-red mt-2" id="ld"><b>LUNCH/DINNER</b></a>
                    <a class="btn btn-default btn-primary dark-border white-text btn-radius btn-xs fill-red mt-2" id="ad"><b>Add Ons</b></a>
                    <a class="btn btn-default btn-primary dark-border white-text btn-radius btn-xs fill-red mt-2" id="pcc"><b>Combos</b></a>
                </div>

                <div class="col-sm-12" id="ldtable">
                    <div class="row">
                        @if (ViewBag.Products.Count != 0)
                        {
                            foreach (var item in ViewBag.lunchanddinner)
                            {
                                <div class="col-sm-4 mt-3">
                                    <div class="feature">
                                        <div class="feature-icon"><img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" alt="Image 1"></div>
                                        <div class="feature-info">
                                            <h5 class="solid-weight">@item.ProductName</h5>
                                            <p>@item.LongDescription</p>
                                            <input type="hidden" value="@item.ProductId.Replace(" ", "")" id="pid" />

                                            <div class="ui action input">
                                                <input type="text" value="&#8377; @item.Price" readonly="readonly">
                                                <button class="ui icon button add-to-cart">
                                                    Add to cart
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                        else
                        {
                            <p>No Records Available</p>
                        }

                    </div>
                </div>
                <div class="col-sm-12" id="bftable">
                    <div class="row" id="bftable">
                        @if (ViewBag.Products.Count != 0)
                        {
                            foreach (var item in ViewBag.breakfast)
                            {
                                <div class="col-sm-4 mt-3">
                                    <div class="feature">
                                        <div class="feature-icon"><img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" alt="Image 1"></div>
                                        <div class="feature-info">
                                            <h5 class="solid-weight">@item.ProductName</h5>
                                            <p>@item.LongDescription</p>

                                            <div class="ui action input">
                                                <input type="text" value="&#8377; @item.Price" readonly="readonly">
                                                <button class="ui icon button">
                                                    Add to cart
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                        else
                        {
                            <p>No Records Available</p>
                        }

                    </div>
                </div>
                <div class="col-sm-12" id="pcctable">
                    <div class="row">
                        @if (ViewBag.Products.Count != 0)
                        {
                            foreach (var item in ViewBag.pccombos)
                            {
                                <div class="col-sm-4 mt-3">
                                    <div class="feature">
                                        <div class="feature-icon"><img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" alt="Image 1"></div>
                                        <div class="feature-info">
                                            <h5 class="solid-weight">@item.ProductName</h5>
                                            <p>@item.LongDescription</p>

                                            <div class="ui action input">
                                                <input type="text" value="&#8377; @item.Price" readonly="readonly">
                                                <button class="ui icon button">
                                                    Add to cart
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                        else
                        {
                            <p>No Records Available</p>
                        }

                    </div>
                </div>
                <div class="col-sm-12" id="adtable" >
                    <div class="row" >
                        @if (ViewBag.Products.Count != 0)
                        {
                            foreach (var item in ViewBag.addons)
                            {
                                <div class="col-sm-4 mt-3">
                                    <div class="feature">
                                        <div class="feature-icon"><img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" alt="Image 1"></div>
                                        <div class="feature-info">
                                            <h5 class="solid-weight">@item.ProductName</h5>
                                            <p>@item.LongDescription</p>

                                            <div class="ui action input">
                                                <input type="text" value="&#8377; @item.Price" readonly="readonly">
                                                <button class="ui icon button">
                                                    Add to cart
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                        else
                        {
                            <p>No Records Available</p>
                        }

                    </div>
                </div>

                
                





                

            </div>
        </div>

    </section>

    

    <!-- End Our service -->
    <!-- Back to Top -->

    <div id="back-to-top"><a class="top arrow"><i class="fa fa-arrow-up"></i></a></div>
    <div class="ui modal right-side-bar" style="width:200px">
        <i class="close icon"></i>
        <div class="header">
            <center>  Your Orders<i class="fa fa-shopping-cart"></i></center>
        </div><i class="fa fa-close" style="font-size:18px"></i>
        <div class="image content">
            <div class="col-sm-12 cartdetails">
                    <div class="row">
                        <div class="col-sm-12 mt-3" >
                            <div class="feature">

                                <div class="feature-info">
                                    
                                   <div class="jumbotron">
                                      

                                        <p>
                                            PRAWNS VEPUDU
                                            &emsp; &emsp; &emsp;₹ 150
                                        </p>


                                        <hr>
                                        <center>
                                            <p>
                                                Total ₹ 150
                                            </p>
                                        </center>
                                        <hr>
                                        <a href="cart.html" class="btn btn-default btn-primary dark-border white-text btn-radius btn-xs fill-red mt-2"><b>CHECKOUT</b></a>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
        </div>
        <div class="actions">
            <div class="ui button">Cancel</div>
            <div class="ui button">OK</div>
        </div>
    </div>

   
    <!-- jquery  -->
    <script src="~/ksfolder/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/ksfolder/js/bootstrap.min.js"></script>
    <!-- Appear -->
    <script src="~/ksfolder/js/jquery.appear.js"></script>
    <!-- owl-carousel -->
    <script src="~/ksfolder/js/owl-carousel/owl.carousel.min.js"></script>
    <!-- counter -->
    <script src="~/ksfolder/js/counter/jquery.countTo.js"></script>
    <!-- countdown -->
    <script src="~/ksfolder/js/countdown/jquery.downCount.js"></script>
    <!-- Piechart -->
    <script src="~/ksfolder/js/jquery.piechart.js"></script>
    <!-- magnific popup -->
    <script src="~/ksfolder/js/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- isotope -->
    <script src="~/ksfolder/js/isotope/imagesLoaded.js"></script>
    <script src="~/ksfolder/js/isotope/isotope.pkgd.min.js"></script>

    <!-- jarallax -->
    <script src="~/ksfolder/js/jarallax/jarallax.js"></script>
    <script src="~/ksfolder/js/jarallax/jarallax-video.js"></script>

    <!-- Bootsnavs -->
    <script src="~/ksfolder/js/bootsnav.js"></script>
    <!-- semantic -->
    <script src="~/ksfolder/js/semantic.js"></script>
    <script src="~/ksfolder/js/semantic.min.js"></script>
    <!-- custom -->
    <script src="~/ksfolder/js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/modal.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/modal.min.js"></script>
    <script>

        $('.arrow1').click(function () {
            //$('.cartdetails').show();
            $('.ui.modal').modal('show');
        });
        $(".enter-number > i.fa-times").click(function () {
            $(this).parents(".forgot-popup").css("display", "none");
        });
        $(".add-to-cart").click(function () {
            alert('ks');
            var quantity = $(this).closest('div.row').find("div.quantity").children("div.spinner").children("input").val();
            var productid = $(this).closest('div.well').find("div.img-title").children("input:hidden").val();
            var productcookie = window.localStorage.getItem("productid"); //product id cookie
            window.localStorage.setItem("cartdiv", $("div.added-products").html()); // Assignining cart div cookie
            if (productcookie != null) {
                 alert(productcookie.includes(productid));
                if (productcookie.includes(productid) == false) {
                    productcookie = productcookie + "," + productid;
                    alert(productcookie);
                    $(this).parents(".well").clone(true, true).appendTo(".added-products");
                    if (quantity != '' && productid != '') {
                        var finalvalue = window.localStorage.getItem("finalvalue") + "," + productid + "-" + quantity;
                         alert(finalvalue);
                        if (quantity != '' && productid != '') {
                            window.localStorage.setItem("finalvalue", finalvalue); //Assigning final value cookie
                            window.localStorage.setItem("productid", productcookie);
                            window.localStorage.setItem("quantity", productquantity);
                        }
                    }
                }
                else {
                   alert("Product Already Exists in cart.");
                  
                }
            }
            else {
               alert("null value");
                window.localStorage.setItem("productid", productid);
                $(this).parents(".well").clone(true, true).appendTo(".added-products");
                if (quantity != '' && productid != '') {
                    var finalvalue = window.localStorage.getItem("finalvalue") + "," + productid + "-" + quantity;
                   alert(finalvalue);
                    if (quantity != '' && productid != '') {
                        window.localStorage.setItem("finalvalue", finalvalue); //Assigning final value cookie
                    }
                }
            }

            return vals();
        });
        function vals() {
            var total, totalquantity = 0, productprice, carttotal = 0;
            $(".added-products .spinner input[type='text']").each(function () {
                total = parseInt($(this).val());
                totalquantity = total + totalquantity;
            });
            $(".added-products .product-price-total span").each(function () {
                productprice = parseInt($(this).text());
                carttotal = productprice + carttotal;
            });
            //alert(carttotal+","+totalquantity);
            $(".cart-total span").remove();
            $(".cart-total").append("<span id=totalamt>" + carttotal + "</span>");
            $(".cart-icn span").remove();
            $(".cart-icn").append("<span id=cartquantity>" + totalquantity + "</span>");
            window.localStorage.setItem("cartquantity", totalquantity); // Assignining cart quantity cookie
            window.localStorage.setItem("carttotal", carttotal); // Assignining cart total cookie

        }
        //REmoving items from the cart
        //$(".remove").click(function () {
        $(document).on('click', '.remove', function () {
            var productid = $(this).closest('div.well').find("div.img-title").children("input:hidden").val();
            var productcookie = window.localStorage.getItem("productid");
            var productquantity = window.localStorage.getItem("quantity");
            var productfinal = window.localStorage.getItem("finalvalue");
            var cartdata = window.localStorage.getItem("finalvalue");
            //alert(productcookie);
            //var customcart = cartdata;
            var pavancart = null; var newproductcookie = null;
            var updatedproductqty = window.localStorage.getItem("quantity");
            for (var i = 0, len = cartdata.split(',').length; i < len; i++) {
                if (cartdata.split(',')[i].split('-')[0] === productid) {
                    pavancart = pavancart;
                }
                else {
                    if (pavancart != null)
                        pavancart = pavancart + "," + cartdata.split(',')[i];
                    else
                        pavancart = cartdata.split(',')[i];
                }
            }
            for (var i = 0, len = productcookie.split(',').length; i < len; i++) {
                // alert(productcookie.split(',')[i]);
                if (productcookie.split(',')[i] === productid) {
                    newproductcookie = newproductcookie;
                    //  alert(newproductcookie);
                }
                else {
                    if (newproductcookie != null)
                        newproductcookie = newproductcookie + "," + productcookie.split(',')[i];
                    else
                        newproductcookie = productcookie.split(',')[i];

                    //alert(newproductcookie);
                }
            }
            //alert(newproductcookie);
            window.localStorage.setItem("productid", newproductcookie);
            window.localStorage.setItem("finalvalue", pavancart);
            window.localStorage.setItem("cartdiv", '');
            $(this).parents("div.well").remove();

            window.localStorage.setItem("cartdiv", $("div.added-products").clone(true, true).html());
            return vals();

        });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#ldtable").css("display", "block");
            $("#pcctable").css("display", "none");
            $("#adtable").css("display", "none");
            $("#bftable").css("display", "none");
            $("#otpopup").css("display", "none");
        });
        $("#ld").click(function () {
            $("#ldtable").css("display", "block");
            $("#productstable1").css("display", "none");
            $("#pcctable").css("display", "none");
            $("#acctable").css("display", "none");
            $("#bftable").css("display", "none");
            $("#adtable").css("display", "none");
        });
        $("#bf").click(function () {
            $("#bftable").css("display", "block");
            $("#productstable1").css("display", "none");
            $("#ldtable").css("display", "none");
            $("#pcctable").css("display", "none");
            $("#acctable").css("display", "none");
            $("#adtable").css("display", "none");
        });
        $("#mcc").click(function () {
            $("#bftable").css("display", "none");
            $("#productstable1").css("display", "none");
            $("#ldtable").css("display", "none");
            $("#pcctable").css("display", "none");
            $("#acctable").css("display", "none");
            $("#adtable").css("display", "none");
        });
        $("#pcc").click(function () {
            $("#bftable").css("display", "none");
            $("#productstable1").css("display", "none");
            $("#ldtable").css("display", "none");
            $("#pcctable").css("display", "block");
            $("#acctable").css("display", "none");
            $("#adtable").css("display", "none");
        });
        $("#acc").click(function () {
            $("#bftable").css("display", "none");
            $("#productstable1").css("display", "none");
            $("#ldtable").css("display", "none");
            $("#pcctable").css("display", "none");
            $("#acctable").css("display", "block");
            $("#adtable").css("display", "none");
        });
        $("#ad").click(function () {
            $("#bftable").css("display", "none");
            $("#productstable1").css("display", "none");
            $("#ldtable").css("display", "none");
            $("#pcctable").css("display", "none");
            $("#acctable").css("display", "none");
            $("#adtable").css("display", "block");
        });




      
    </script>

</body>
</html>
