
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>::My Profile ::</title>
    <link rel="shortcut icon" href="~/production/images/favicon.png">
    <!-- Bootstrap -->
    <link href="~/production/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/production/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet" />

    <!-- Lato Font -->
    <link href="~/production/css/latofonts.css" rel="stylesheet">
    <link href="~/production/css/overhang.min.css" rel="stylesheet" />
</head>
<body>
    <input type="hidden" value="@ViewBag.Name" id="fname">
    <input type="hidden" value="@ViewBag.deladdress" id="deladdress">
    <div class="container body">
        <div class="main_container">

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="container top-section">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4"> <a href="http://ankapurchicken.com/"> <img src="~/production/images/ankapur_logo.png" alt="Ankapur Logo"> </a> </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 top-phone"> <i class="fa fa-phone" aria-hidden="true"></i> <span>+91 - 7306544444</span> </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="profile">
                                <img src="~/production/images/usericn.png" alt="Profile Icon">
                                <span id="txtcustname"></span>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                <ul>
                                    <li onclick="@("window.location.href='" + Url.Action("updatecustomerprofile", "NewOrder") + "'");"><i class="fa fa-cog" aria-hidden="true"></i>Account Settings</li>
                                    <li onclick="@("window.location.href='" + Url.Action("ViewOrder", "NewOrder") + "'");"><i class="fa fa-cog" aria-hidden="true"></i>Order history</li>
                                    <li onclick="@("window.location.href='" + Url.Action("logoff", "Home") + "'");"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Sign Out</li>
                                </ul>
                                @*<button class="text-center" type="button" id="btnsignout" onclick="@("window.location.href='" +Url.Action("logoff", "Home") + "'");" >Sign Out</button>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid top-banner">
                    <div class="top-border"></div>
                    <div class="banner-image"> <img src="~/production/images/banner-img.jpg" alt="Image Slide" /> </div>
                </div>
                <div class="container">
                    <form>
                        <div class="row orders-history-page">
                            <div class="title col-xs-12 col-md-6 col-md-offset-3 padding-left-0 padding-right-0">
                                <h3>My Profile</h3>
                            </div>
                            <div class="col-xs-12 col-md-6 col-md-offset-3 padding-left-0 padding-right-0 thankyou profile-page">
                                <div class="row">
                                    <div class="profile">
                                        <img id="contactpic" onclick="javascript: document.getElementById('fileupload1').click();" src="data:image;base64,@ViewBag.pimage" style="border-radius: 50%;width: 150px;height: 150px;" />
                                        <div class="form-group">
                                            <input type="file" name="file" id="fileupload1" accept=".gif, .jpeg, .png" style="display:none" onchange="upload1()">

                                        </div>
                                        <!--<i class="fa fa-upload" aria-hidden="true"></i>-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <label>First Name</label>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" id="txtfname" class="form-control" value="@ViewBag.Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" id="txtphone" class="form-control" readonly="readonly" value="@ViewBag.pn">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <label>Alternate Mobile</label>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" id="txtaltmobile" class="form-control" value="@ViewBag.altmobile">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <label>E-Mail</label>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="email" id="txtemail" class="form-control" value="@ViewBag.eid">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <label>Address</label>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <textarea rows="3" class="form-control" value="@ViewBag.deladdress" id="txtaddress"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-5 col-md-offset-5">
                                        <button type="button" id="contactbutton" class="btn btn-default">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        <footer>
            <!--<div class="pull-right"> Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a> </div>
              <div class="clearfix"></div-->
        </footer>
        <!-- /footer content -->
    </div>
    @*</div>*@
    <!-- jQuery lib -->
    <script type="text/javascript" language="javascript" src="~/production/js/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/production/js/overhang.min.js"></script>
    <!-- jQuery lib -->
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            var fname = $("#fname").val();
            $("#txtcustname").html(fname);
            var daddress = $("#deladdress").val();
            $("#txtaddress").html(daddress);
            // var darea = $("#delarea").val();
                $(this).bind("contextmenu", function (e) {
                    e.preventDefault();
            });
        });
        $(".top-section .profile").click(function () {
            $(this).children("ul").toggle();
        });
        function upload1() {
            var ext = $('#fileupload1').val().split('.').pop().toLowerCase();
            if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
                alert('Invalid File Type');
            }
            else {
                var data = new FormData();
                var files = $("#fileupload1").get(0).files;
                if (files.length > 0) {
                    data.append("helpSectionImages", files[0]);
                }
                $.ajax({
                    url: '/NewOrder/updatecontactpersonimage',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        $("#contactpic").attr("src", "data:Image/;base64," + response);
                    },
                    error: function (er) {
                        alert("Failed To Upload Pic!!! Try Again");
                    }
                });
            }
        }

        //update profile
        $('#contactbutton').on('click', function () {
            var phone = $("#txtphone").val();
            var fname = $("#txtfname").val();
            var altmobile = $("#txtaltmobile").val();
            var email = $("#txtemail").val();
            var address = $("#txtaddress").val();
            var image = $('#contactpic').attr('src').replace('data:Image/;base64,', '');
            if (fname == '' || altmobile == '' || email == '' || address == '' || image == '') {
                $("body").overhang({
                    type: "warn",
                    message: "Please Enter all the details.",
                    //closeConfirm: "false",
                    duration: 5,
                    overlay: true
                });
            }
            else {
                $.ajax({
                    url: '/NewOrder/updateprofile',
                    type: 'POST',
                    data: JSON.stringify({ phone: phone, fname: fname, altmobile: altmobile, email: email, address: address, image: image }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "success") {
                            $("body").overhang({
                                type: "success",
                                message: "Profile Updated Successfully.",
                                //closeConfirm: "false",
                                duration: 5,
                                overlay: true
                            });
                            location.reload();
                        }
                        else {
                            alert("not updated");
                        }
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }
        });
    </script>

</body>
</html>
